[Desktop Entry]
Name=IPsec Client
Comment=Manage IPsec VPN connections
Exec=/usr/bin/ipsec-client
Icon=ipsec-client
Terminal=false
Type=Application
Categories=Network;Qt;Security;
StartupNotify=true
MimeType=
Keywords=ipsec;vpn;strongswan;
X-AppStream-Icon=ipsec-client
X-GNOME-UsesNotifications=true
