[Desktop Entry]
Name=IPsec Client
Comment=Manage IPsec VPN connections
Exec=/usr/bin/ipsec-client
Icon=ipsec-client
Terminal=false
Type=Application
Categories=Network;VPN;Security;Qt;
StartupNotify=true
Keywords=ipsec;vpn;strongswan;
X-AppStream-Icon=ipsec-client
